<div class="container">
  <h1>Shorty Pro!!!</h1>
  <h2>Doin it for the shorties!</h2>
  <p>Ain't no URL we can't shorten!</p>

  <% if @new_shorty && @new_shorty.errors.any? %>
    <% @new_shorty.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <form id ="shorten_url" action="/shorten" method="post">
    <h3>URL:</h3>
    
    <input type="text" name="url" placeholder="Enter url here!">
    <br><br>
    <input type="submit" value="Shorten URL">
  </form>
  
</div>
