<div class="container">
  <h1>Shorty Pro!!!</h1>
  <h2>Doin it for the shorties!</h2>
  <p>We shortened it up nicely for you:</p>

  <h3><a href="/shorty/<%=params[:code]%>" target="_blank">/shorty/<%=params[:code]%></a>
  
</div>
